fastapi[standard]>=0.95.0
uvicorn[standard]>=0.22.0
pydantic>=2.0.0
pyodbc==4.0.35
psycopg2-binary==2.9.6
mysql-connector-python==8.0.33
torch==2.0.1
ollama>=0.1.0
chromadb>=0.5.3
sentence-transformers==2.2.2
numpy==1.26.4
